<!DOCTYPE html>
<html data-ng-app="calculator">
<head>
	<!-- Version 0.2.0 -->
	<title>Calc-O-Matic</title>
	<link rel="stylesheet" href="css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="css/base.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<div class="container-fluid" id="calculator" data-ng-controller="CalculatorController">
		<div class="row">
			<div class="col-xs-8"></div>
			<h1 id="title" class="col-xs-3">
				<span id="main-title">T73 Biz</span>
				<span id="sub-title">Calc-O-Matic</span>
			</h1>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-10" id="answer">
				<span id="first">&nbsp;</span>
				<span>{{ display }}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 column"></div>
			<!-- Left Column Start -->
			<div class="col-xs-4 column">
				<div class="row keypad">
					<button class="btn btn-default" data-ng-click="addDigit(7)">7</button>
					<button class="btn btn-default" data-ng-click="addDigit(8)">8</button>
					<button class="btn btn-default" data-ng-click="addDigit(9)">9</button>
				</div>
				<div class="row keypad">
					<button class="btn btn-default" data-ng-click="addDigit(4)">4</button>
					<button class="btn btn-default" data-ng-click="addDigit(5)">5</button>
					<button class="btn btn-default" data-ng-click="addDigit(6)">6</button>
				</div>
				<div class="row keypad">
					<button class="btn btn-default" data-ng-click="addDigit(1)">1</button>
					<button class="btn btn-default" data-ng-click="addDigit(2)">2</button>
					<button class="btn btn-default" data-ng-click="addDigit(3)">3</button>
				</div>
				<div class="row keypad">
					<button class="btn btn-default" data-ng-click="addDigit(0)">0</button>
					<button class="btn btn-default" data-ng-click="setDecimal()">.</button>
				</div>
			</div>
			<!-- Left Column End -->
			<div class="col-xs-1"></div>
			<!-- Right Column Start -->
			<div class="col-xs-3 column">
				<div class="row keypad">
					<button class="btn btn-default" data-ng-click="clearDisplay()">C</button>
					<button class="btn btn-default" data-ng-click="clearEverything()">CE</button>
				</div>
				<div class="row keypad">
					<button class="btn btn-default" data-ng-click="addOperator('+')">+</button>
					<button class="btn btn-default" data-ng-click="addOperator('-')">-</button>
				</div>
				<div class="row keypad">
					<button class="btn btn-default" data-ng-click="addOperator('*')">x</button>
					<button class="btn btn-default" data-ng-click="addOperator('/')">&div;</button>
				</div>
				<div class="row keypad">
					<button class="btn btn-default" data-ng-click="evalEquation()">=</button>
				</div>
			</div>
			<!-- Right Column End -->
		</div>
	</div>
	<script src="js/angular.min.js" charset="utf-8"></script>
	<script src="js/calculator.js" charset="utf-8"></script>
	<script src="http://localhost:35729/livereload.js"></script>
</body>
</html>
