<!DOCTYPE html>
<html data-ng-app="calculator">
<head>
	<!-- Version 0.2.0 -->
	<title>Calc-O-Matic</title>
	<link rel="stylesheet" href="css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="css/base.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<div class="container-fluid" id="calculator" data-ng-controller="CalculatorController">
		<div class="row">
			<div class="col-xs-8"></div>
			<h1 id="title" class="col-xs-3">
				<span id="main-title">T73 Biz</span>
				<span id="sub-title">Calc-O-Matic</span>
			</h1>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-10" id="answer">
				<span id="display" data-ng-answer={{ answer }}>{{ answer }}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 column"></div>
			<!-- Left Column Start -->
			<div class="col-xs-4 column">
				<div class="row keypad">
					<button class="btn btn-default" data-ng-click="addOperand(7)">7</button>
					<button class="btn btn-default" data-ng-click="addOperand(8)">8</button>
					<button class="btn btn-default" data-ng-click="addOperand(9)">9</button>
				</div>
				<div class="row keypad">
					<button class="btn btn-default" data-ng-click="addOperand(4)">4</button>
					<button class="btn btn-default" data-ng-click="addOperand(5)">5</button>
					<button class="btn btn-default" data-ng-click="addOperand(6)">6</button>
				</div>
				<div class="row keypad">
					<button class="btn btn-default" data-ng-click="addOperand(1)">1</button>
					<button class="btn btn-default" data-ng-click="addOperand(2)">2</button>
					<button class="btn btn-default" data-ng-click="addOperand(3)">3</button>
				</div>
				<div class="row keypad">
					<button class="btn btn-default" data-ng-click="addOperand(0)">0</button>
					<button class="btn btn-default"  data-ng-click="addOperand('.')">.</button>
				</div>
			</div>
			<!-- Left Column End -->
			<div class="col-xs-1"></div>
			<!-- Right Column Start -->
			<div class="col-xs-3 column">
				<div class="row keypad">
					<button class="btn btn-default">C</button>
					<button class="btn btn-default">CE</button>
				</div>
				<div class="row keypad">
					<button class="btn btn-default">-</button>
					<button class="btn btn-default">+</button>
				</div>
				<div class="row keypad">
					<button class="btn btn-default">x</button>
					<button class="btn btn-default">&div;</button>
				</div>
				<div class="row keypad">
					<button class="btn btn-default">=</button>
				</div>
			</div>
			<!-- Right Column End -->
		</div>
	</div>
	<script src="js/angular.min.js" charset="utf-8"></script>
	<script src="js/jquery.min.js" charset="utf-8"></script>
	<script src="js/bootstrap.min.js" charset="utf-8"></script>
	<script src="js/calculator.js" charset="utf-8"></script>
	<script src="http://localhost:35729/livereload.js"></script>
</body>
</html>
